.background-colour-page{
    background-color: #7d8181;
}
.background-colour-button{
    background-color: black;
    color: white;
}
.button-homepage:hover {
    background-color: #555555;
    color: white;
}
.div-border{
    border: 5px solid #080808;
}
.black-background{
    background-color: #080808;
}
.title-colour{
    color: white;
}